[Desktop Entry]
Name=wxMaxima
Comment=wxMaxima is a document based interface for the computer algebra system Maxima
Exec=wxmaxima
Icon=com.github.wxmaxima-developers.svg
Terminal=false
Type=Application
Categories=Office;Math;

