[Desktop Entry]
Name=Mupen64+
Comment=A open source Nintendo 64 Emulator
Exec=mupen64plus-gui
Icon=com.github.mupen64plus
Terminal=false
Type=Application
Categories=Game

