[Desktop Entry]
Name=Freedroid Classic
Comment=A remake of the classic Commodore 64 game
Exec=freedroid
Icon=org.freedroid.classic.png
Terminal=false
Type=Application
Categories=Games

