[Desktop Entry]
Name=ScanTailor-Universal
Type=Application
Exec=scantailor-universal
Icon=com.github.trufanovnok.scantailor.svg
Categories=Graphics;Office

